<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>국내 최초 블록체인을 활용한 중고거래 마켓 도꺠비 마켓에 오신것을 환영합니다!</p>

    </div>
  </body>
</html>
