<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>도깨비 마켓</h1>
        <P>최고의 중고 거래 사이트 도깨비 마켓</p>
      </div>

    </div>
  </body>
</html>
